<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Tarini Banerji">
    <title>Pet Sitting Intake Form</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
     
</head>
<body>


<h1>PetPamperer</h1>

<h2> Your Booking was Successful!</h2>
    
    <p>Here are the details:</p>
    
    <p>Your pet {{species}} ({{sex}}) {{pinfo.pet_name}} is booked for {{binfo.num_days}} days.
        They are allergic to {{binfo.allergies}} and {{extra_care}}.


    </p>
    
    </div>
</body>
</html>
    
